html {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'VT323', monospace;
    color: #678fb2;
    background-image: linear-gradient(to bottom right, #581877, #04075e);
}

header, h2 {
    text-align: center;
    color: #b7ddff;
}

h1 {
    font-size: 5rem;
    color: #5faeff;
    filter: drop-shadow(0 0 1rem blue);
}

h2 {
    font-size: 2.25rem;
}

.weapons {
    display: block;
    margin: auto;
    width: 75rem;
    display: flex;
    justify-content: center;
}

img.button {
    padding: 2em;
    margin: auto;
    width: 15rem;
    height: auto;
}

#rock:hover {
    transform: scale(1.25) rotate(20deg);
    filter: drop-shadow(0 0 1rem rgba(254, 43, 241, 0.3));
}

#paper:hover {
    transform: scale(1.25) rotate(-10deg);
    filter: drop-shadow(0 0 1rem rgba(7, 223, 168, 0.3));
}

#scissors:hover {
    transform: scale(1.25) rotate(-20deg);
    filter: drop-shadow(0 0 1rem rgba(11, 123, 236, 0.3));
}

.scoreboard {
    margin: auto;
    width: 50rem;
    display: flex;
    justify-content: center;
}

.tally {
    padding: 0rem 3rem;
    font-size: 3rem;
}

#restart {
    display: block;
    margin: auto;
    height: 3rem;
    width: 10rem;
    background-color: #96aaf3;
    border: none;
    border-radius: 2rem;
    color: #04075e;
    font-size: 1.5rem;
}

#restart:hover {
    filter: drop-shadow(0 0 1rem #4146c9);
    color: rgba(4, 7, 94, 0.75);
}