html {
    width: 100%;
    height: 100%;
    margin: auto;
    /* font-family: 'Wendy One', sans-serif; */
    font-family: 'VT323', monospace;
}

header, h2 {
    text-align: center;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.25rem;
}

.weapons {
    display: block;
    margin: auto;
    width: 75rem;
    display: flex;
    justify-content: center;
}

.button {
    padding: 2em;
    margin: auto;
}

img.button {
    width: 15rem;
    height: auto;
}

.scoreboard {
    margin: auto;
    width: 50rem;
    display: flex;
    justify-content: center;
}

.tally {
    padding: 0rem 3rem;
    font-size: 3rem;
}

#restart {
    display: block;
    margin: auto;
}